# <center> Criando uma conexão para a inserção de dados do excel para uma tabela de um banco de dados </center>

### Inserindo as bibliotecas

In [1]:
import pandas as pd
import psycopg2

### Carregando os dados do excel

In [2]:
arquivo = 'Cuidado_com_os_dados.xlsx'
df = pd.read_excel(arquivo)
print(df)

      Inscrição                               Nome     Genero   Escola  Nota  \
0    17001Q39V1       Alexsander Alves Oliveira     Masculino  Publico  13.5
1    39590GUBJR  Alisson Alves Dos Santos Oliveira  Masculino  Privado  19.0
2    28164R5EUW         Allana Rodrigues Abrego      Feminino  Privado  15.5
3    75290JM2LS        Amanda Barban Scacalossi      Feminino  Privado  17.0
4    345543HTDD      Ana Carolina Pereira Barbosa    Feminino  Privado  14.0
..          ...                                ...        ...      ...   ...
343  43939XUAJK           Gabriela Emi Yamamoto      Feminino  Privado  20.5
344  53889CYMD3        Sophia Naziozeno Fuccile      Feminino  Privado  19.5
345  83554VFDT7             Caio Domingos Silva     Masculino  Publico  17.5
346  03697A0G0X          Beatriz Paro Giannelli      Feminino  Publico  15.5
347  616863DTQA        Eduarda Da Fonseca Casaroli   Feminino  Publico  14.5

        Dia Notebook Jantar   Turmas Sala Professor Observações  Unnamed: 12  \
0     Sexta      NÃO    SIM   Turma7   T1     Santi         NaN          NaN
1    Quinta      NÃO    SIM   Turma6   T7      João         NaN          NaN
2     Sexta      SIM    SIM   Turma8   T2     Grilo         NaN          NaN
3     Sexta      SIM    SIM   Turma7   T1     Santi         NaN          NaN
4     Sexta      NÃO    SIM  Turma11   T5    Daniel         NaN          NaN
..      ...      ...    ...      ...  ...       ...         ...          ...
343  Quinta      NaN    NaN   Turma3   T3    Modolo    DESISTIU          NaN
344  Quinta    Falta  Falta   Turma4   T4   Nisflei         NaN          NaN
345   Sexta    Falta  Falta   Turma8   T2     Grilo         NaN          NaN
346   Sexta    Falta  Falta  Turma11   T5    Daniel         NaN          NaN
347  Quinta    Falta  Falta   Turma1   T1     Santi         NaN          NaN

      Total   340 Unnamed: 15              Unnamed: 16  Unnamed: 17  \
0    Turma1  27.0         NaN  Precisa de NOTE por dia          NaN
1    Turma2  28.0         NaN                   Quinta          NaN
2    Turma3  28.0         NaN                      SIM        128.0
3    Turma4  29.0         NaN                      NÃO         43.0
4    Turma5  30.0         NaN                    Sexta          NaN
..      ...   ...         ...                      ...          ...
343     NaN   NaN         NaN                      NaN          NaN
344     NaN   NaN         NaN                      NaN          NaN
345     NaN   NaN         NaN                      NaN          NaN
346     NaN   NaN         NaN                      NaN          NaN
347     NaN   NaN         NaN                      NaN          NaN

     Unnamed: 18
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
343          NaN
344          NaN
345          NaN
346          NaN
347          NaN

[348 rows x 19 columns]

### Configurando a conexão com o Banco de dados e a tabela

In [3]:
import psycopg2

# Conectar ao banco de dados PostgreSQL
conn = psycopg2.connect(
    dbname="dbpresencatech2025",
    user="dbpresencatech2025_user",
    password="3xFezRq99dDulmawROUuP5cWTowtAx5K",
    host="dpg-cpqrj6dumphs73b19nag-a.oregon-postgres.render.com",
    port="5432"
)

# Criar um cursor para executar comandos SQL
cur = conn.cursor()

# Loop através do DataFrame e inserir cada linha na tabela Room
for index, row in df.iterrows():
    cur.execute(
        """
        INSERT INTO candidatos (nome, genero, nr_inscricao, escola, notebook, jantar, turma, periodo, sala, professor)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (row['Nome'], row['Genero'], row['Inscrição'], row['Escola'], row['Notebook'], row['Jantar'], row['Turmas'], row['Dia'], row['Sala'], row['Professor'])
    )

# Commit as mudanças
conn.commit()

# Fechar o cursor e a conexão
cur.close()
conn.close()