# <center> Criando uma conexão para a inserção de dados do excel para uma tabela de um banco de dados </center>

### Inserindo as bibliotecas

In [4]:
import pandas as pd
import psycopg2

### Carregando os dados do excel

In [13]:
arquivo = 'CursoPython.xlsx'
df = pd.read_excel(arquivo, sheet_name="Candidatos")
print(df)

      Inscrição                                  Nome     Genero   Escola  \
0    9P7JEAQB8H  Achiles José Barcala Rodrigues Silva  Masculino  Privado
1    CGWAK0RWAJ             ADA MIRELLA DA ROSA GOMES   Feminino  Privado
2    VLFN64QVQ3                     Adan Ribeiro Lima  Masculino  Publico
3    O1B8YTLFAA              Adriel de Moura Pimentel  Masculino  Publico
4    9EADL1IG0S       Agatha Milleny Moreira de Souza   Feminino  Publico
..          ...                                   ...        ...      ...
727  18VO3PQZAV       YASMIN BUENO DE CAMARGO RINALDI   Feminino  Privado
728  4QBBGRR7ZN              Yasmin Faustino Medeiros   Feminino  Privado
729  LALL0HIFGJ                Yasmin Iamazaki Santos   Feminino  Privado
730  GAJO51GLFR           Ynara Christine Santos Lima   Feminino  Publico
731  4PFBKL4E4J               Yngrid Pereira de Souza   Feminino  Publico

          Turno Notebook    Turma Professor Sala        Dia  \
0      Matutino      SIM  Turma13    Modolo  S10   Quinta 1
1      Matutino      SIM  Turma14   Nisflei  S11   Quinta 1
2      Matutino      SIM  Turma12     Santi  S09   Quinta 1
3    Vespertino      SIM   Turma9   Nisflei  S11  Segunda 2
4      Integral      SIM  Turma23     Grilo  S08   Quinta 3
..          ...      ...      ...       ...  ...        ...
727    Matutino      SIM   Turma2     Santi  S09  Segunda 1
728    Matutino      SIM   Turma3    Modolo  S10  Segunda 1
729    Matutino      SIM   Turma4   Nisflei  S11  Segunda 1
730    Matutino      NÃO   Turma5      Alex  S12  Segunda 1
731    Matutino      SIM  Turma11     Grilo  S08   Quinta 1

                                                  Foto
0    https://drive.google.com/open?id=1GP9wZl584MJb...
1    https://drive.google.com/open?id=1E5-ivVukP-s9...
2                                                  NaN
3    https://drive.google.com/open?id=1H0Isaplzk03I...
4    https://drive.google.com/open?id=1tEZKirwRNdIj...
..                                                 ...
727  https://drive.google.com/open?id=1RsjJniin0eU4...
728  https://drive.google.com/open?id=1dGeD2u5Fg-I1...
729  https://drive.google.com/open?id=1HnjHA_0pkFhx...
730  https://drive.google.com/open?id=1MUl40oa9GNyc...
731                                                NaN

[732 rows x 11 columns]

In [14]:
df

,Inscrição,Nome,Genero,Escola,Turno,Notebook,Turma,Professor,Sala,Dia,Foto
0,9P7JEAQB8H,Achiles José Barcala Rodrigues Silva,Masculino,Privado,Matutino,SIM,Turma13,Modolo,S10,Quinta 1,https://drive.google.com/open?id=1GP9wZl584MJb...
1,CGWAK0RWAJ,ADA MIRELLA DA ROSA GOMES,Feminino,Privado,Matutino,SIM,Turma14,Nisflei,S11,Quinta 1,https://drive.google.com/open?id=1E5-ivVukP-s9...
2,VLFN64QVQ3,Adan Ribeiro Lima,Masculino,Publico,Matutino,SIM,Turma12,Santi,S09,Quinta 1,NaN
3,O1B8YTLFAA,Adriel de Moura Pimentel,Masculino,Publico,Vespertino,SIM,Turma9,Nisflei,S11,Segunda 2,https://drive.google.com/open?id=1H0Isaplzk03I...
4,9EADL1IG0S,Agatha Milleny Moreira de Souza,Feminino,Publico,Integral,SIM,Turma23,Grilo,S08,Quinta 3,https://drive.google.com/open?id=1tEZKirwRNdIj...
...,...,...,...,...,...,...,...,...,...,...,...
727,18VO3PQZAV,YASMIN BUENO DE CAMARGO RINALDI,Feminino,Privado,Matutino,SIM,Turma2,Santi,S09,Segunda 1,https://drive.google.com/open?id=1RsjJniin0eU4...
728,4QBBGRR7ZN,Yasmin Faustino Medeiros,Feminino,Privado,Matutino,SIM,Turma3,Modolo,S10,Segunda 1,https://drive.google.com/open?id=1dGeD2u5Fg-I1...
729,LALL0HIFGJ,Yasmin Iamazaki Santos,Feminino,Privado,Matutino,SIM,Turma4,Nisflei,S11,Segunda 1,https://drive.google.com/open?id=1HnjHA_0pkFhx...
730,GAJO51GLFR,Ynara Christine Santos Lima,Feminino,Publico,Matutino,NÃO,Turma5,Alex,S12,Segunda 1,https://drive.google.com/open?id=1MUl40oa9GNyc...
731,4PFBKL4E4J,Yngrid Pereira de Souza,Feminino,Publico,Matutino,SIM,Turma11,Grilo,S08,Quinta 1,NaN

### Configurando a conexão com o Banco de dados e a tabela

In [15]:
import psycopg2

# Conectar ao banco de dados PostgreSQL
conn = psycopg2.connect(
    dbname="dbpresencatech2025",
    user="dbpresencatech2025_user",
    password="3xFezRq99dDulmawROUuP5cWTowtAx5K",
    host="dpg-cpqrj6dumphs73b19nag-a.oregon-postgres.render.com",
    port="5432"
)

# Criar um cursor para executar comandos SQL
cur = conn.cursor()

# Loop através do DataFrame e inserir cada linha na tabela Room
for index, row in df.iterrows():
    cur.execute(
        """
        INSERT INTO candidatos (nr_inscricao, nome, genero, escola, notebook, turma, professor, sala, dia, imagem)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (row['Inscrição'], row['Nome'], row['Genero'], row['Escola'], row['Notebook'], row['Turma'], row['Professor'], row['Sala'], row['Dia'], row['Foto'])
    )

# Commit as mudanças
conn.commit()

# Fechar o cursor e a conexão
cur.close()
conn.close()