# <center> Criando uma conexão para a inserção de dados do excel para uma tabela de um banco de dados </center>

### Inserindo as bibliotecas

In [1]:
import pandas as pd
import psycopg2

### Carregando os dados do excel

In [2]:
arquivo = 'RelacaoSalaConexao.xlsx'
df = pd.read_excel(arquivo)
print(df)

   name  floor  capacity  has_tv             type start_time_free  \
0   101      1         8    True  Sala de Reunião        07:00:00
1   102      1         2   False  Sala de Reunião        07:00:00
2   103      1         4   False  Sala de Reunião        07:00:00
3   104      1         4   False  Sala de Reunião        07:00:00
4   105      1         4   False  Sala de Reunião        07:00:00
5   106      1         4    True  Sala de Reunião        07:00:00
6   107      1         4    True  Sala de Reunião        07:00:00
7   108      1         4   False  Sala de Reunião        07:00:00
8   109      1         4    True  Sala de Reunião        07:00:00
9   110      1         8    True  Sala de Reunião        07:00:00
10  201      2         8    True  Sala de Reunião        07:00:00
11  202      2         6    True  Sala de Reunião        07:00:00
12  301      3         6    True  Sala de Reunião        07:00:00
13  302      3         6    True  Sala de Reunião        07:00:00
14  601      6         1   False  Sala de Reunião        07:00:00
15  602      6         1   False  Sala de Reunião        07:00:00
16  603      6         6    True  Sala de Reunião        07:00:00
17  604      6         6    True  Sala de Reunião        07:00:00
18  P01      1        25    True     Sala de Aula        12:30:00
19  P07      1        25    True     Sala de Aula        13:30:00
20  P08      1        25    True     Sala de Aula        12:30:00
21  P14      1        25    True     Sala de Aula        13:30:00
22  S01      2        25    True     Sala de Aula        11:30:00
23  S02      2        25    True     Sala de Aula        15:30:00
24  S03      2        25    True     Sala de Aula        15:30:00
25  S04      2        25    True     Sala de Aula        15:30:00
26  S05      2        25    True     Sala de Aula        15:30:00
27  S06      2        25    True     Sala de Aula        15:30:00
28  S07      2        25    True     Sala de Aula        12:30:00
29  S08      2        25    True     Sala de Aula        13:30:00
30  S09      2        25    True     Sala de Aula        13:30:00
31  S10      2        25    True     Sala de Aula        13:30:00
32  S11      2        25    True     Sala de Aula        13:30:00
33  S12      2        25    True     Sala de Aula        10:00:00
34  S13      2        25    True     Sala de Aula        10:00:00
35  S14      2        25    True     Sala de Aula        11:30:00

   final_time_free
0         19:00:00
1         19:00:00
2         19:00:00
3         19:00:00
4         19:00:00
5         19:00:00
6         19:00:00
7         19:00:00
8         19:00:00
9         19:00:00
10        19:00:00
11        19:00:00
12        19:00:00
13        19:00:00
14        19:00:00
15        19:00:00
16        19:00:00
17        19:00:00
18        19:00:00
19        19:00:00
20        19:00:00
21        19:00:00
22        19:00:00
23        19:00:00
24        19:00:00
25        19:00:00
26        19:00:00
27        19:00:00
28        19:00:00
29        19:00:00
30        19:00:00
31        19:00:00
32        19:00:00
33        19:00:00
34        19:00:00
35        19:00:00

### Configurando a conexão com o Banco de dados e a tabela

In [3]:
import psycopg2

# Conectar ao banco de dados PostgreSQL
conn = psycopg2.connect(
    dbname="dbpresencatech2025",
    user="dbpresencatech2025_user",
    password="3xFezRq99dDulmawROUuP5cWTowtAx5K",
    host="dpg-cpqrj6dumphs73b19nag-a.oregon-postgres.render.com",
    port="5432"
)

# Criar um cursor para executar comandos SQL
cur = conn.cursor()

# Loop através do DataFrame e inserir cada linha na tabela Room
for index, row in df.iterrows():
    cur.execute(
        """
        INSERT INTO candidatos (nome, genero, dt_nascimento, nr_inscricao, cpf, escola, pi, notebook, jantar, turma, periodo, sala, professor, idade, email, url)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (row['nome'], row['genero'], row['dt_nascimento'], row['nr_inscricao'], row['cpf'], row['escola'], row['pi'], row['notebook'], row['jantar'], row['turma'], row['periodo'], row['sala'], row['professor'], row['idade'], row['email'], row['url'])
    )

# Commit as mudanças
conn.commit()

# Fechar o cursor e a conexão
cur.close()
conn.close()